/* Extra Small Devices, Phones */

$avatar-width: 150px;

.banner {
  margin: 25px 0;
  .brand {
    display: inline-block;
    img {
      border: 2px solid $brand-primary;
      max-width: $avatar-width;
    }
  }
  nav.nav-primary {
    margin-top: 20px;
    a {
      text-transform: uppercase;
    }
    .nav>li {
      text-align: center;
      &>a {
        font-size: 24px;
      }
    }
  }
}

/* Small Devices (tablets, 768px and up) */

@media only screen and (min-width: $screen-sm-min) {
  .banner {
    .brand {
      float: left;
      margin-right: 25px;
    }
    .brand-text {
      float: left;
      nav.nav-primary {
        margin-left: -10px;
        margin-top: 10px;
        .nav>li {
          float: left;
          &>a {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

/* Medium Devices (desktops, 992px and up) */

@media only screen and (min-width: $screen-md-min) {}
