/* Extra Small Devices, Phones */

$avatar-width: 150px;

.banner {
  text-align: center;
  margin: 25px 0;
  .brand {
    display: inline-block;
    img {
      border: 2px solid $brand-primary;
      max-width: $avatar-width;
    }
  }
  .brand-text h2 a {
    color: #000000;
  }
  nav.nav-primary {
    margin-top: 20px;
    a {
      text-transform: uppercase;
    }
    ul.nav {
      display: inline-block;
      &>li {
        text-align: center;
        float: left;
        &>a {
          padding: 0 10px;
          font-size: 24px;
        }
      }
    }
  }
}


/* Small Devices (tablets, 768px and up) */

@media only screen and (min-width: $screen-sm-min) {
  .banner {
    .brand {
      float: left;
    }
    .brand-text {
      float: right;
      text-align: right;
      nav.nav-primary {
        margin: 10px -10px 0 0;
        .nav>li {
          float: right;
        }
      }
    }
  }
}


/* Medium Devices (desktops, 992px and up) */

@media only screen and (min-width: $screen-md-min) {}
