// Search form
.search-form {
  @extend .form-inline;
}

.search-form label {
  font-weight: normal;
  @extend .form-group;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.form-control {
  height: 55px;
  font-size: 20px;
  padding: 6px 15px;
  font-weight: 300;
  border: 2px solid $brand-black;
}

textarea.form-control {
	max-height: 200px;
}

form {
  .required {
    color: $brand-primary;
  }
  .wpcf7-form-control-wrap {
    display: block;
  }
}
